<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook - login or signup</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="main">
       <div class="left">
            <h2 class="logo">Facebook</h2>
            <p class="para">Facebook helps you connect 
                and share with the people in your life.</p>
       </div>
       <div class="right">
            <div class="card"></div>
            <p class="right-para"> <a href="#">Create a Page </a>
                for a celebrity, brand or business.</p>
       </div>
    </div>
</body>
</html>