*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.main{
    width: 100vw;
    height: 100vh;
    background-color: #F0F2F5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}


.left{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 200px;
    gap:10px;
}


.logo{
    font-size: 45px;
    font-family: sans-serif;
    color: #0866ff;
    font-weight: 800;
    letter-spacing:1px;
    /* rotate: 90deg; */
}

.para{
    font-family: sans-serif;
    color: #1e1e1e;
    font-size: 18px;
}


.right{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
}


.card{
    width: 400px;
    height: 400px;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
                 rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.right-para{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 17px;
}

.right-para a {
    text-decoration: none;
    color: #1e1e1e;
    font-weight: 600;
    cursor: pointer;
}