*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.left{
    background-color: yellow;
    width:50%;
    height:100%;
    display: flex;
    justify-content:flex-end;
    align-items:center;
}

.right{
    background-color: blueviolet;
    width: 50%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}